*{
   font-family: Roboto;
   box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@font-face {
    font-family: Roboto;
    src: url("./assets/Roboto.ttf");
}

html,
body{
    height: 100%;
}


body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "side-bar header"
        "side-bar content";
    grid-template-rows: min-content 1fr;
}

.side-bar{
    grid-area: side-bar;
    background-color: blue;
    display: grid;
    align-items: space-between;
    padding: 30px;
    grid-template-rows: repeat(3, min-content);
    gap: 50px;
}

.side-bar-content{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 15px;
}

.side-bar-content > li > img{
    width: 25px;
    height: auto;
}

li{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    font-size: 1.15rem;
    gap: 15px;
    grid-template-columns: repeat(2, min-content);
}

.title-wrapper{
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
}

#logo{
    width: 75px;
    height: auto;
}

#title{
    font-size: 1.75rem;
    font-weight: 800;
}

.header{
    grid-area: header;
    background-color: green;
    padding: 30px 50px;
    display: grid;
    gap: 20px;
}

.header-top{
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    gap: 30%;
}

.search{
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 5px;
}

#search{
    background-color: grey;
    border: 0;
    border-radius: 10px;
    width: 500px;
}

.search > img{
    width: 25px;
    display: auto;
}

.profile{
    display: grid;
    grid-template-columns: repeat(2, min-content) 1fr;
    gap: 25px;
    align-items: center;
}

#bell{
    width: 25px;
    height: auto;
}

.profile-pic{
    width: 50px;
    height: auto;
    border-radius: 100%;
}

.content{
    grid-area: content; 
    background-color: orange;
}
